# ignore everything
/*
/*/


# except
!App.js
!README.md
!Photo.js
!Home.js
!Login.js
!Menu.js
!Signin.js
!index.js
!Favoris.js
!Tendances.js
!Galerie.js
!/rapports_iteration/
!.gitignore
!/img/
!/SGBD/
